.header


@media (max-width: 1023px)
.main {
    background-position: center 35%;
    background-size: 50%;
}

.main {

display: grid;
grid-template-columns: 1fr;
grid-template-rows: 115px 1fr auto;
justify-content: center;
height: 100%;
padding: 0rem;
background-color: #f7f7ff;
background-image: url("images/bg-image/scooter.svg");
background-repeat: no-repeat;

}

@media (max-width: 1023px)
.section {
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: space-between;
    min-height: 1000px;
    gap: 0px;
}

.section {
display: grid;
grid-template-columns: repeat(2,minmax(400px, 600px))
 ;
 justify-content: space-between;
 align-items:start; 
 width: 100%
}


.footer {
    padding: 2rem 1rem;
    margin: 0 -1rem;
    background-color: #fffd8c;
}

footer {display:block;}